.title {
  text-align: center;
  font-family: "Jokerman";
  font-size: 25px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.data {
  font-family: "Boogaloo";
  font-size: 20px;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  background-color: plum;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
